extends layout

block layout-content
  div.View
    h1.Banner hello shahla
    div.Message
      div.Title
        h2 Alice
        br
        a(href="/#{https://goo.gl/maps/7K7cENRokgK1VXKQ9}") Baghdad
        h5 Milk
        h5 1
        h5 1.5
        h4 price $1.99
      span.Details discount:0%
      br
      div.NavButton Add to Cart
    
    
    //- div.NavButtons
    //-       div.NavButton Just dive in!


